table, th, td {
    border: 1px solid rgb(58, 68, 78);
    border-collapse: collapse;
    margin: 0 auto;
}

th {
    padding: 15px;
}

table {
    margin-bottom: 7rem;
}

html, body {
    background-color: #1E2328;
    color: #EBEBEB;
    font-family: 'Work Sans', sans-serif;
}

.main_content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    color: inherit;
    transition: color 0.5s linear;
    margin: 2px;
}

.buttons:hover {
    color: #E44D26;
    border-color: #E44D26;
}

.buttons_wrapper {
    text-align: center;
}

.foreign_items {
    color: #FED053;
}

li {
    margin: 10px;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.span__menu {
    font-size: 30px;
    cursor: pointer;
    text-transform: uppercase;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.table__selector {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    font-size: 30px;
    display: block;

    margin: 5px;
    transition: transform 0.2s linear;
}

.table__selector:hover {
    color: rgb(197, 209, 255);
    transform: translateX(15px) scale(1.2);
}

.operations {
    font-size: 25px;
}

.operations > form {
    margin: 30px;
}

.operations span {
    line-height: 2;
}

.operation {
    margin: 20px 0;
}

.operation input, select {
    -webkit-appearance: none;
    border: none;
    font-size: inherit;
}

.operation input[type='text'], input[type='submit'], input[type='email'], input[type='password'], input[type='date'], input[type='number'], textarea, select {
    padding: 3px;
    color: inherit;
    background-color: rgb(58, 68, 78);
}

.back_button {
    padding: 5px;
    text-decoration: none;
    color: inherit;
    font-size: 30px;
    text-transform: uppercase;
    border: 1px solid rgb(197, 209, 255);
}

.back_button:hover {
    color: #96a4ff;
    border-color: #96a4ff;
}

.text__area {
    resize: none;
    margin: -35px 0;
    font-size: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}